*{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{ color:darkorange}

.btn-primary{ color:bisque;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
border-radius: 5px;
background-color: darkorange;}
.header{background-color: bisque
    ;
background-image: url('../images/header_bg.png'),url('../images/developer.png');
background-repeat:no-repeat ;
background-position: bottom right;}


/* header and navigation styles */ 
nav{ display:flex;
justify-content: space-between;
margin: 50px 200px;}
.nav-title  {
    font-weight: 800;
    font-size: 45px;
}
nav ul{ display: flex;}
nav li { 
    list-style: none;
margin-left: 50px;}
/* banner styles */
.banner{ 
    display: flex;
    align-items: center;
    margin : 0 200px;}
    .banner-title{  
        font-weight: 700;
        font-size: 85px;


    }
    .banner-sub-title{
        font-weight: 600;
        font-size: 45px;
        margin-bottom: 20px;

    }
    .banner-description{
        color:blueviolet;
        font-size: 18px;
        margin-bottom: 30px;
    }
    /* main section */
    main{
        max-width: 1140px;
        margin: auto;
    }
    /* about section styles */ 
    .about{ margin-top: 130px;
        background-color: aquamarine;
        border-radius: 10px;
        padding: 130px 150px ;
        text-align: center;


    }
    .section-title{
        text-align:center ;
        margin-bottom:30px ;


    }
    .section-description{
    color:blanchedalmond;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 700;
    

    }
.about-info-container{ 
    display: flex;
    justify-content:space-around;

}
.skill{
    background-color: brown;
    box-shadow: 0px 6px 50px;
    border-radius: 5px;
    padding: 30px;
}
.about.info-title{
    font-size: 20px;
    color: aquamarine;
}
.info-description{
    font-size:20px ;
    font-weight: 700;
    color: aqua;
}
/* What i do styles */ 
section{ margin-top: 130px;

}
.what-i-do{
    margin-top: 130px;
}
.skill-container{
    display:flex;
}
.skill-titles{
    font-weight: 700px;
    font-size: 20px;
    margin-top: 23px;
    margin-bottom: 20px;
}
.skill-descriptio{
    color: darkgrey;
}
/*resume style */
.resume-content{
    display:flex;
    gap: 25px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume.title{
font-weight: 600;
font-size:20px ;
margin-bottom: 20px;

}
.resume .sub-title{
color:brown
font-weight: 700;
font-size:25px;
}
.resume .description{

color:blueviolet
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contact style */
.contact{
    display: flex;
    gap:100px;
    background-color: blanchedalmond;
    padding:130px 200px ;

}
.contact.section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100px;
    padding:18px 30px ;
}
input{
    height: 64px;

}
.contact a{ 
    text-decoration: none;
}
